/* styles.css */
.receipt {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: 3rem auto;
    align-items: center;
    font-size: .7em;
  }
  
  .receipt-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .company-logo {
    max-width: 100px;
    height: 3rem;
    margin-bottom: -8px;
    margin-top: -8px;
    border-radius: 10px;
  }
  
  .company-name {
    font-size: 1em;
    margin-top: 10px;
  }
  .company-address {
    /* font-size: .8em; */
    /* margin-top: 10px; */
  }
  .phone {
    /* font-size: .8em; */
    /* margin-top: 7px; */
  }
  
  .receipt-body table {
    width: 100%;
    border:hidden;
    border-collapse: collapse;
    margin-left: 13px;
  }
  
  .receipt-body th, .receipt-body td {
    border: 1px solid #ccc;
    /* padding: 5px; */
    text-align: left;
    border: hidden;
  }
  

  
  .total {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .receipt-footer {
    margin-top: 15px;
    font-size: 0.9em;
    text-align: center;
  }
  
  .client-info {
    text-align: right;
  }
  .approoved{
    text-align: center;
    margin-top: -6px;
  }

  .star{
    margin-bottom: -7px;
  }
  .starr{
    margin-top: -12px;
  }
/* Print-Specific Styles */
