/* Base Styles */
.receipt {
  width: 300px; /* Adjust for thermal printer's width */
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: left;
}

.receipt-header {
  text-align: center;
  margin-bottom: 10px;
}

.company-logo {
  max-width: 100px;
  height: auto;
  margin-bottom: -8px;
  margin-top: -8px;
  border-radius: 10px;
}

.company-name {
  font-size: 1.2em;
  margin-top: 10px;
  font-weight: bold;
}

.company-address,
.phone {
  font-size: 0.8em;
  margin-top: 4px;
}

.receipt-body {
  margin-top: 10px;
}

#date {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.receipt-body table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.receipt-body th,
.receipt-body td {
  border: hidden;
  text-align: left;
  font-size: 0.8em;
  padding: 2px 0;
}

.receipt-body td {
  padding-right: 5px;
}

.total {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.discount {
  text-align: center;
  margin-top: 5px;
}

.total-price {
  margin-top: 10px;
  font-size: 1.2em;
}

.receipt-footer {
  margin-top: 15px;
  font-size: 0.8em;
  text-align: center;
}

.client-info {
  text-align: right;
}

.approoved {
  text-align: center;
  margin-top: -6px;
}

.star {
  margin-bottom: -7px;
}

.starr {
  margin-top: -12px;
}

.print-button {
  border: none;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

/* Print Styles */
@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .receipt {
    width: 48mm; /* Adjust for your thermal printer width */
    max-width: 48mm;
    font-size: 10px;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
  }

  .print-button {
    display: none;
  }

  .receipt-footer {
    display: none;
  }

  /* Hide elements that shouldn't print */
  @page {
    size: 48mm auto;
    margin: 0;
  }
}
