/* Default styles */
.form {
    max-width: 400px; /* adjust the max width to your liking */
    margin: 40px auto; /* center the form */
    padding: 20px;
    background-color: #f9f9f9; /* light gray background */
    border: 1px solid #ccc; /* light gray border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
  }
  
.button button{
    margin-left: 6rem;
    margin-right: -32rem ;
    border: none;
    border-radius: 10px;
    background: rgb(175, 8, 175);
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.button{
  display: flex;
  flex-direction: center;
  color: white;
  text-decoration: none;
}
.button a{
  text-decoration: none;
}

  .header {
    margin-bottom: 20px; /* add some space between header and inputs */
  }
  
  .input { 
    width: 100%; /* make inputs full-width */
    height: 40px; /* adjust the height to your liking */
    margin-bottom: 20px; /* add some space between inputs */
    padding: 10px;
    border: 1px solid #ccc; /* light gray border */
  }
  
  .btn {
    width: 100%; /* make the button full-width */
    min-width: 100px;
    background-color: #2cec32; /* green background */
    color: #fff; /* white text */
    border: none; /* remove border */
    border-radius: 5px; /* add some rounded corners */
    cursor: pointer; /* change cursor on hover */
  }

  .button-class{
    display: flex;
    justify-content: right;
    margin: auto;
    
  }

.button-class{
  display: flex;
  justify-content: right;
  margin: auto;
  
}

.ItemContainer{
  margin-left: 5rem;
}

/* Media queries */
/* For small screens (e.g., mobile devices) */
@media only screen and (max-width: 600px) {
  .form {
    margin: 20px auto; /* reduce margin on small screens */
  }
  .input {
    height: 30px; /* reduce input height on small screens */
  }
  .btn {
    height: 30px; /* reduce button height on small screens */
  }
}

/* For medium screens (e.g., tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* no changes needed, as the default styles are already suitable for medium screens */
}

/* For large screens (e.g., desktops) */
@media only screen and (min-width: 901px) {
  /* no changes needed, as the default styles are already suitable for large screens */
}
