/* Light Theme */
.light-app {
    background-color: #fff;
    color: #000;
}

.light-theme {
    background-color: #fff;
    color: #000;
}

/* Dark Theme */
.dark-app {
    background-color: #222;
    color: #fff;
}

.dark-theme {
    background-color: #222;
    color: #fff;
}

/* Ensure global styles do not override these theme-specific styles */
body.light-theme, body.light-app {
    background-color: #fff;
    color: #000;
}

body.dark-theme, body.dark-app {
    background-color: #222;
    color: #fff;
}


.light-theme {
    background-color: white;
    color: black;
    transition: .5s;
}

.dark-theme {
    background-color: #222;
    color: white;
    transition: .5s;
}
.table{
    transition: .5s !important;
}

.light-pieChart{
    box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.1);
}
.dark-pieChart{
    box-shadow: 0 2px 10px rgba(242, 236, 236, 0.1);
}
